<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <header>
      <h1>Voting App</h1>
    </header>
    <div id="userstories" style="margin-left: 5%; margin-top: 5%">
      <h2>Example usage:</h2>
      <h3>/api/images/{term}</h3>
      <code>/api/images/{term}</code><br />
      <code>/api/images/{term}?page=10</code><br />
      <h3>Example return:</h3>
      <code
        >{"image": [{ "type":"image/jpeg", "width":1920, "height":840, "size":
        12323, "thumbnail": { "url":
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCLq2OoKjIQO8c6zoKapfiOZi_KJCTcXIbbNfwi4UQnD8js33trpFwGQ&s",
        "width": 150, "height": 66 }, "description": "International Cat",
        "parentPage": "https://icatcare.org/" }]}</code
      ><br />
      <h3>/api/recent</h3>
      <code>/api/recent</code><br />
      <h3>Example return:</h3>
      <code>[{ "term":"cat", "created_at":'']</code><br />
    </div>
    <hr style="margin: 50px" />
    <div id="testui" style="margin-left: 5%">
      <h2 style="text-align: left">Front-End:</h2>
      <h3>Enter a string to search</h3>
      <form id="testForm1" class="border">
        Term
        <input
          type="text"
          name="term"
          placeholder="cat"
          style="width: 100px"
          required
        />
        <br />
        Page
        <input type="number" name="page" value="" placeholder="1" />
        <br />
        <button type="submit">Search</button>
      </form>
      <h3>Get recent query</h3>
      <form id="testForm2" class="border">
        <button type="submit">Get</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    <hr style="margin: 50px; margin-top: 200px" />
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#testForm1").submit(function (e) {
          const formValue = $("#testForm1").serialize().split("&");
          const term = formValue[0].split("=")[1];
          const page = (formValue[1] && formValue[1].split("=")[1]) || 1;
          $.ajax({
            url: `/api/images/${term}`,
            type: "get",
            data: `page=${page}`,
            success: function (data) {
              $("#jsonResult").text(JSON.stringify(data));
            },
          });
          e.preventDefault();
        });
        $("#testForm2").submit(function (e) {
          $.ajax({
            url: "/api/recent/images",
            type: "get",
            success: function (data) {
              $("#jsonResult").text(JSON.stringify(data));
            },
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
